.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFA500;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


  .form{
    padding-top: 130px; 
    padding-left:  40px;




  }
body{
  background: url(../images/hostel_management.jpg);
  background-repeat: no-repeat;background-size:cover;
}

#backImg {
  background-color: #d3d3d3	;

}

.icons {
   display: grid; 
   /* padding-top: 100px; */
  position: absolute;
  top: 140px;
  left: 35px;
  width: 200px;
  height: 100px;
  /* border: 3px solid #73AD21; */
}

.details {
  font-family: sans-serif;
  color: #2e2e97;

  position: absolute;
  top: 140px;
  left: 200px;
  width: 300px;
  height: 100px;

}



/* xxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.popup {
  
  display: none;
  background-color: #FFFFFF;
  border-style: inset;
  border-radius: 5px;
  height: 550px;
  width: 500px;
  
  position: absolute;
  top: 30px;
  left: 600px;

}
